subject_id_col: subject_id
operations:
  admission:
    code: HOSPITAL_ADMISSION
    time: col(admission_time)
    time_format:
  icu_registration:
    code: ICU_REGISTRATION
    time: col(icuin_time)
    time_format:
  icu_out:
    code: ICU_OUT
    time: col(icuout_time)
    time_format:
  orin:
    code: OR_IN
    time: col(orin_time)
    time_format:
  op_id: # Number, A random number starts with 4 for the operation.
    code: OPERATION_ID
    time: col(opstart_time)
    numeric_value: col(op_id)
#  hadm_id: # Number, A random number starts with 2 for hospital admission.
#    code: col(hadm_id)
  case_id: # Number, A linker to VitalDB Open Dataset
    code:
        - VITALDB_CASE_ID
        - col(case_id)
    time: null
  opdate: # Relative Time, Operation date
    code: OPERATION_DATE
    time: col(opdate)
  age: # Number, Age of the patient on the operation date
    code:
      - AGE
      - col(age)
    time: col(admission_time)
  sex: # M/F, Sex of the patient
    code:
      - SEX
      - col(sex)
    time: null
  weight: # Number, Weight measured before operation
    code: WEIGHT
    numeric_value: col(weight)
    time: col(admission_time)
  height: # Number, Age measured before operation
    code: HEIGHT
    time: col(admission_time)
    numeric_value: col(height)
  race: # String, Race of the patient
    code:
      - RACE
      - col(race)
    time: null
  asa: # 1/2/3/4/5, American Society of Anesthesiologists physical status classification
    code:
      - ASA
      - col(asa)
    time: col(opdate)
  emop: # Binary, Emergency of the operation
    code:
      - EMERGENCY_OPERATION
      - col(emop)
    time: col(opdate)
  department: # String, Surgical department for admission
    code:
      - ADMISSION_DEPARTMENT
      - col(department)
    time: col(opdate)
  antype: # String, Anesthesia Type (General / Neuraxial / Regional / MAC)
    code:
      - ANESTHESIA_TYPE
      - col(antype)
    time: col(opdate)
  icd10_pcs: # String, ICD-10 Procedure Coding System code
    code:
      - ICD10_PCS
      - col(icd10_pcs)
    time: col(opdate)
  orin_time: # Relative Time, The time for entering the operating room
    code: OR_IN
    time: col(orin_time)
  orout_time: # Relative Time, The time for leaving the operating room
    code: OR_OUT
    time: col(orout_time)
  opstart_time: # Relative Time, The time for starting the operation
    code: OPERATION_START
    time: col(opstart_time)
  opend_time: # Relative Time, The time for finishing the operation
    code: OPERATION_END
    time: col(opend_time)
  admission_time: # Relative Time, The time for hospital admission
    code: HOSPITAL_ADMISSION
    time: col(admission_time)
  discharge_time: # Relative Time, The time for hospital discharge
    code: HOSPITAL_DISCHARGE
    time: col(discharge_time)
  anstart_time: # Relative Time, The time for starting anaesthesia
    code: ANESTHESIA_START
    time: col(anstart_time)
  anend_time: # Relative Time, The time for finishing anaesthesia
    code: ANESTHESIA_END
    time: col(anend_time)
  cpbon_time: # Relative Time, The time for starting cardiopulmonary bypass
    code: CPB_ON
    time: col(cpbon_time)
  cpboff_time: # Relative Time, The time for finishing cardiopulmonary bypass
    code: CPB_OFF
    time: col(cpboff_time)
  icuin_time: # Relative Time, The time for ICU admission after surgery
    code: ICU_ADMISSION
    time: col(icuin_time)
  icuout_time: # Relative Time, The time for ICU discharge after surgery
    code: ICU_DISCHARGE
    time: col(icuout_time)
  inhosp_death_time: # Relative Time, The time for in-hospital death
    code: MEDS_DEATH
    time: col(inhosp_death_time)
#    text_value: "In-hospital death"
  allcause_death_time: # Relative Time, The time for all-cause death
    code: MEDS_DEATH
    time: col(allcause_death_time)
#hosp/admissions:
#  ed_registration:
#    code: ED_REGISTRATION
#    time: col(edregtime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#  ed_out:
#    code: ED_OUT
#    time: col(edouttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#  admission:
#    code:
#      - HOSPITAL_ADMISSION
#      - col(admission_type)
#      - col(admission_location)
#    time: col(admittime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    insurance: insurance
#    language: language
#    marital_status: marital_status
#    race: race
#    hadm_id: hadm_id
#  discharge:
#    code:
#      - HOSPITAL_DISCHARGE
#      - col(discharge_location)
#    time: col(dischtime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
  # We omit the death event here as it is joined to the data in the subjects table in the pre-MEDS step.
labs:
  lab:
    code:
      - LAB
      - col(item_name)
    time: col(chart_time)
  #    time_format: "%Y-%m-%d %H:%M:%S"
    numeric_value: value
medications:
  medication:
    code:
      - MEDICATION
      - col(atc_code)
    time: col(chart_time)
    text_value: drug_name
diagnosis:
  diagnosis:
    code:
      - DIAGNOSIS
      - ICD
      - "10"
      - col(icd10_cm)
    time: col(chart_time)
vitals:
  vital:
    code:
      - VITAL
      - col(item_name)
    time: col(chart_time)
    numeric_value: value
ward_vitals:
  ward_vital:
    code:
      - WARD_VITAL
      - col(item_name)
    time: col(chart_time)
    numeric_value: value
#hosp/diagnoses_icd:
#  diagnosis:
#    code:
#      - DIAGNOSIS
#      - ICD
#      - col(icd_version)
#      - col(icd_code)
#    hadm_id: hadm_id
#    time: col(hadm_discharge_time)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    _metadata:
#      hosp/d_icd_diagnoses:
#        description: "long_title"
#        parent_codes: "ICD{icd_version}CM/{norm_icd_code}" # Single strings are templates of columns.
#
#hosp/drgcodes:
#  drg:
#    code:
#      - DRG
#      - col(drg_type)
#      - col(drg_code)
#      - col(description)
#    hadm_id: hadm_id
#    time: col(hadm_discharge_time)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    drg_severity: drg_severity
#    drg_mortality: drg_mortality
#
#hosp/emar:
#  medication:
#    code:
#      - MEDICATION
#      - col(medication)
#      - col(event_txt)
#    time: col(charttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    emar_id: emar_id
#    emar_seq: emar_seq
#
#hosp/hcpcsevents:
#  hcpcs:
#    code:
#      - HCPCS
#      - col(short_description)
#    hadm_id: hadm_id
#    time: col(chartdate)
#    time_format: "%Y-%m-%d"
#    _metadata:
#      # These are not all CPT codes, unfortunately
#      hosp/d_hcpcs:
#        description: "long_description"
#        possibly_cpt_code: "code"
#
#hosp/labevents:
#  lab:
#    code:
#      - LAB
#      - col(itemid)
#      - col(valueuom)
#    hadm_id: hadm_id
#    time: col(charttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    numeric_value: valuenum
#    text_value: value
#    priority: priority
#    _metadata:
#      d_labitems_to_loinc:
#        description: ["omop_concept_name", "label"] # List of strings are columns to be collated
#        itemid: "itemid (omop_source_code)"
#        parent_codes: "{omop_vocabulary_id}/{omop_concept_code}"
#        valueuom: "valueuom"
#
#hosp/omr:
#  omr:
#    code: col(result_name)
#    text_value: col(result_value)
#    time: col(chartdate)
#    time_format: "%Y-%m-%d"
#
#hosp/patients:
#  gender:
#    code:
#      - GENDER
#      - col(gender)
#    time: null
#  dob:
#    code: MEDS_BIRTH # This is the MEDS official code for birth.
#    time: col(year_of_birth)
#    time_format: "%Y"
#  death:
#    code: MEDS_DEATH # This is the MEDS official code for death.
#    time: col(dod)
#    time_format:
#      - "%Y-%m-%d %H:%M:%S"
#      - "%Y-%m-%d"
#
#hosp/pharmacy:
#  medication_start:
#    code:
#      - MEDICATION
#      - START
#      - col(medication)
#    time: col(starttime)
#    route: route
#    frequency: frequency
#    doses_per_24_hrs: doses_per_24_hrs
#    poe_id: poe_id
#    time_format:
#      - "%Y-%m-%d %H:%M:%S"
#      - "%Y-%m-%d"
#  medication_stop:
#    code:
#      - MEDICATION
#      - STOP
#      - col(medication)
#    time: col(stoptime)
#    poe_id: poe_id
#    time_format:
#      - "%Y-%m-%d %H:%M:%S"
#      - "%Y-%m-%d"
#
#hosp/procedures_icd:
#  procedure:
#    code:
#      - PROCEDURE
#      - ICD
#      - col(icd_version)
#      - col(icd_code)
#    hadm_id: hadm_id
#    time: col(chartdate)
#    time_format: "%Y-%m-%d"
#    _metadata:
#      hosp/d_icd_procedures:
#        description: "long_title"
#        parent_codes: # List of objects are string labels mapping to filters to be evaluated.
#          - "ICD{icd_version}Proc/{norm_icd_code}": { icd_version: "9" }
#          - "ICD{icd_version}PCS/{norm_icd_code}": { icd_version: "10" }
#
#hosp/transfers:
#  transfer:
#    code:
#      - TRANSFER_TO
#      - col(eventtype)
#      - col(careunit)
#    time: col(intime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#
#icu/icustays:
#  icu_admission:
#    code:
#      - ICU_ADMISSION
#      - col(first_careunit)
#    time: col(intime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#  icu_discharge:
#    code:
#      - ICU_DISCHARGE
#      - col(last_careunit)
#    time: col(outtime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#
#icu/chartevents:
#  event:
#    code:
#      - LAB
#      - col(itemid)
#      - col(valueuom)
#    time: col(charttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    numeric_value: valuenum
#    text_value: value
#    hadm_id: hadm_id
#    icustay_id: stay_id
#    _metadata:
#      # TODO: make this work even with missing valueuom
#      #meas_chartevents_main:
#      #  description: ["omop_concept_name", "label"] # List of strings are columns to be collated
#      #  itemid: "itemid (omop_source_code)"
#      #  parent_codes: "{omop_vocabulary_id}/{omop_concept_code}"
#      # TODO: I don't know if this is necessary...
#      d_labitems_to_loinc:
#        description: ["omop_concept_name", "label"] # List of strings are columns to be collated
#        itemid: "itemid (omop_source_code)"
#        parent_codes: "{omop_vocabulary_id}/{omop_concept_code}"
#        valueuom: "valueuom"
#
#icu/procedureevents:
#  start:
#    code:
#      - PROCEDURE
#      - START
#      - col(itemid)
#    time: col(starttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#    _metadata:
#      proc_datetimeevents:
#        description: ["omop_concept_name", "label"] # List of strings are columns to be collated
#        itemid: "itemid (omop_source_code)"
#        parent_codes: "{omop_vocabulary_id}/{omop_concept_code}"
#      proc_itemid:
#        description: ["omop_concept_name", "label"] # List of strings are columns to be collated
#        itemid: "itemid (omop_source_code)"
#        parent_codes: "{omop_vocabulary_id}/{omop_concept_code}"
#  end:
#    code:
#      - PROCEDURE
#      - END
#      - col(itemid)
#    time: col(endtime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#    _metadata:
#      proc_datetimeevents:
#        description: ["omop_concept_name", "label"] # List of strings are columns to be collated
#        itemid: "itemid (omop_source_code)"
#        parent_codes: "{omop_vocabulary_id}/{omop_concept_code}"
#      proc_itemid:
#        description: ["omop_concept_name", "label"] # List of strings are columns to be collated
#        itemid: "itemid (omop_source_code)"
#        parent_codes: "{omop_vocabulary_id}/{omop_concept_code}"
#
#icu/inputevents:
#  input_start:
#    code:
#      - INFUSION_START
#      - col(itemid)
#    time: col(starttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#    order_id: orderid
#    link_order_id: linkorderid
#    numeric_value: rate
#    unit: rateuom
#    ordercategorydescription: ordercategorydescription
#    _metadata:
#      inputevents_to_rxnorm:
#        description: ["omop_concept_name", "label"] # List of strings are columns to be collated
#        itemid: "itemid (omop_source_code)"
#        parent_codes: "{omop_vocabulary_id}/{omop_concept_code}"
#  input_end:
#    code:
#      - INFUSION_END
#      - col(itemid)
#    time: col(endtime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#    order_id: orderid
#    link_order_id: linkorderid
#    numeric_value: amount
#    ordercategorydescription: ordercategorydescription
#    statusdescription: statusdescription
#    unit: amountuom
#    _metadata:
#      inputevents_to_rxnorm:
#        description: ["omop_concept_name", "label"] # List of strings are columns to be collated
#        itemid: "itemid (omop_source_code)"
#        parent_codes: "{omop_vocabulary_id}/{omop_concept_code}"
#  subject_weight:
#    code:
#      - SUBJECT_WEIGHT_AT_INFUSION
#      - KG
#    time: col(starttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    numeric_value: patientweight
#
#icu/outputevents:
#  output:
#    code:
#      - SUBJECT_FLUID_OUTPUT
#      - col(itemid)
#      - col(valueuom)
#    time: col(charttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#    numeric_value: value
#    _metadata:
#      outputevents_to_loinc:
#        description: ["omop_concept_name", "label"] # List of strings are columns to be collated
#        itemid: "itemid (omop_source_code)"
#        valueuom: "unitname"
#        parent_codes: "{omop_vocabulary_id}/{omop_concept_code}"
